:host {
  margin: 4px 0;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  margin: 4px 0;

  display: flex;
  align-items: flex-end;

  .img-container {
    position: absolute;
    width: 40px;
    margin-bottom: 2px;
    ion-thumbnail {
      --border-radius: 100%;
      --size: 40px;
    }
  }

  .text-container {
    //min-width: 100px;
    max-width: 80%;
    margin-left: 50px;
    padding: 8px 12px;

    background-color: var(--roomate-other-message);
    border-radius: 10px;

    .name {
      margin-bottom: 5px;
      font-weight: bolder;
      color: var(--roomate-color-green);
    }
    .skeleton-name {
      height: 18.4px;
      margin: 0 0 5px;
    }
    .date {
      margin-top: 6px;
      text-align: right;
      opacity: 0.5;
      font-size: 14px;
    }
  }
}
