<ion-header mode="md">
  <ion-toolbar>
    <span class="roomate-header-title"> {{ 'createNewChannel' | localization }} </span>
  </ion-toolbar>
</ion-header>

<ion-item mode="md">
  <ion-label color="medium"> {{ 'channelsName' | localization }} </ion-label>
  <ion-input #nameInput></ion-input>
</ion-item>

<ion-item class="no-ion-hover" mode="md" lines="none">
  <ion-label> {{ ['public', 'channel'] | localization }} </ion-label>
  <ion-checkbox #publicInput
                slot="end" color="roomate-green"></ion-checkbox>
</ion-item>

<ng-container *ngIf="!publicInput.checked">
  <div class="members">
    <ion-chip *ngFor="let member of (members$ | async); trackBy:trackById">
      <ion-avatar>
        <img [src]="member.user.imageUrl" alt="">
      </ion-avatar>
      <ion-label> {{member.user.shortName}} </ion-label>
      <ion-icon *ngIf="member.isPossibleToDelete" name="close"
                (click)="userDeleted(member.user)"></ion-icon>
    </ion-chip>
  </div>

  <ion-searchbar placeholder="Search user" mode="ios" clear-icon="close"
                 (ionChange)="searchEvent$.next($event.target.value)"></ion-searchbar>

  <ion-content appScrollbarTheme
               scrollAlwaysVisible="true">
    <app-shared-users-list [usersList]="searchUserList$ | async"
                           (userSelected)="userSelected($event)"></app-shared-users-list>
  </ion-content>
</ng-container>

<ion-buttons>
  <ion-button fill="clear" color="roomate-green" mode="md"
              (click)="closeModal()">
    {{ 'close' | localization }}
  </ion-button>
  <ion-button fill="outline" color="roomate-green" mode="md"
              [disabled]="!nameInput.value"
              (click)="createChannel(nameInput.value, !publicInput.checked)">
    {{ 'create' | localization }}
  </ion-button>
</ion-buttons>
