<ion-header mode="md">
  <ion-toolbar>
    <span class="roomate-header-title">
      {{ ['create', 'new', 'channel'] | localization }}
    </span>
  </ion-toolbar>
</ion-header>

<ng-container [formGroup]="form">
  <ion-item mode="md">
    <ion-label color="medium"> {{ 'channelsName' | localization }} </ion-label>
    <ion-input formControlName="title"></ion-input>
  </ion-item>

  <ion-item class="no-ion-hover" mode="md" lines="none">
    <ion-label> {{ ['public', 'channel'] | localization }} </ion-label>
    <ion-checkbox formControlName="public" slot="end" color="roomate-green"></ion-checkbox>
  </ion-item>
</ng-container>

<ng-container *ngIf="!(form.controls.public.valueChanges | push)">
  <div class="members">
    <ion-chip *rxFor="let member of members$; trackBy:trackById">
      <ion-avatar>
        <img [src]="member.user.imageUrl" alt="">
      </ion-avatar>
      <ion-label> {{member.user.shortName}} </ion-label>
      <ion-icon *ngIf="member.isPossibleToDelete" name="close"
                (click)="userDeleted(member.user)"></ion-icon>
    </ion-chip>
  </div>

  <ion-searchbar [placeholder]="['toSearch', 'nUsers'] | localization"
                 mode="ios" clear-icon="close"
                 (ionChange)="searchEvent$.next($event.target.value)"></ion-searchbar>

  <ion-content appScrollbarTheme
               scrollAlwaysVisible="true">
    <app-shared-users-list [usersList]="searchUserList$ | push"
                           (userSelected)="userSelected($event)"></app-shared-users-list>
  </ion-content>
</ng-container>

<ion-buttons>
  <ion-button fill="clear" color="roomate-green" mode="md"
              (click)="closeModal()">
    {{ 'close' | localization }}
  </ion-button>
  <ion-button fill="outline" color="roomate-green" mode="md"
              [disabled]="form.invalid"
              (click)="createChannel()">
    {{ 'save' | localization }}
  </ion-button>
</ion-buttons>
