:host {
  height: 100vh;
  display: flex;
  flex-direction: column;

  ion-content {
    .msgs-container {
      padding: 4px 12px;
      margin-left: 4px;
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
