ion-toolbar {
  --background: var(--roomate-border-color);
  border-top: 2px solid var(--ion-background-color);
  border-radius: 10px 10px 0 0;


  .textarea-container {
    display: flex;
    align-items: flex-end;

    ion-icon {
      cursor: pointer;
      margin: 10px 6px;
      padding: 8px;
      font-size: 20px;

      &:hover {
        color: var(--roomate-color-green);
      }
    }

    ion-textarea {
      align-self: center;
      margin: 0;
      flex: 1;

      ::ng-deep {
        .textarea-wrapper, .native-textarea {
          min-height: 39px !important;
          max-height: 260px !important;
        }
      }
    }
  }
}
