<div class="ion-page">
<!--  <ion-header mode="md">-->
<!--    <app-shared-header endSideButtonIcon="chatbox">-->
<!--    <span class="roomate-header-title">-->
<!--      room {{roomId}}-->
<!--    </span>-->
<!--    </app-shared-header>-->
<!--  </ion-header>-->

  <ion-content appScrollbarTheme
               scrollAlwaysVisible="true">
    <div class="streams-container ion-padding"
         [class.mobile-container]="isMobile$ | async">

      <app-stream *ngFor="let item of (localTracks$ | async); let i = index; trackBy:streamsTrackBy"
                  [localStream]="true"
                  [display]="item.display"
                  [audioTrack]="item.audio"
                  [videoTrack]="item.video"
                  [outputDeviceId]="audioOutputId"
                  [id]="i">
      </app-stream>

      <app-stream *ngFor="let item of ((remoteTracks$ | async) | keyvalue); trackBy:streamsTrackBy"
                  [localStream]="false"
                  [display]="item.value.display"
                  [audioTrack]="item.value.audio"
                  [videoTrack]="item.value.video"
                  [outputDeviceId]="audioOutputId"
                  [id]="item.key">
      </app-stream>

    </div>
  </ion-content>

  <app-media-footer (audioOutputId)="setAudioOutputId($event)">
  </app-media-footer>
</div>
