ion-content {
  .streams-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    app-stream {
      height: 350px !important;
    }
  }

  .mobile-container {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)) !important;
    app-stream {
      height: 235px !important;
    }
  }
}
