<ion-content #currentChatContent
             appScrollbarTheme>
  <app-shared-loader [loading]="loading$ | push"
                     [background]="'var(--ion-background-color)'">
  </app-shared-loader>

  <ion-button *rxIf="isNotNearToBottom$"
              (click)="currentChatContent.scrollToBottom(200)"
              class="no-ion-hover"
              shape="round" slot="fixed" mode="ios">
    <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
  </ion-button>

  <app-chat [messages]="messages"
            [topScrollDisabled]="(loading$ | push) || isTopMesLimitAchieved"
            [bottomScrollDisabled]="(loading$ | push) || isBottomMesLimitAchieved"
            (infiniteScroll)="infiniteScroll.emit($event)">
  </app-chat>
</ion-content>
