<ion-footer class="ion-no-border" mode="md"
            [class.footer-visible]="roomConfigured">
  <ion-toolbar>
    <ion-row class="actions-container"
             [class.mobile-actions]="isMobile$ | async">

      <ion-button fill="clear" color="medium" mode="md"
                  (click)="modal.present()">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>

      <ion-button mode="md"
                  [fill]="isScreenSharing ? 'outline' : 'clear'"
                  [color]="isScreenSharing ? 'roomate-green' : 'medium'"
                  (click)="toggleScreen()">
        <ion-icon name="desktop-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="medium" mode="md"
                  (click)="toggleVideo()">
        <ion-icon [name]="'videocam' + (isVideoMuted ? '-off' : '')"></ion-icon>
      </ion-button>

      <ion-button color="medium" mode="md"
                  (click)="toggleAudio()"
                  [fill]="isAudioMuted ? 'outline' : 'clear'">
        <ion-icon [name]="'mic' + (isAudioMuted ? '-off' : '')"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="danger" mode="md">
        <ion-icon name="call-sharp"></ion-icon>
      </ion-button>

    </ion-row>
  </ion-toolbar>
</ion-footer>

<!--settings modal-->
<ion-modal #modal>
  <ng-template>
    <ion-header mode="md">
      <ion-toolbar>
        <span class="roomate-header-title">
          Devices options
        </span>
        <ion-buttons slot="end">
          <ion-button fill="clear" color="roomate-green"
                      (click)="modal.dismiss()"> close </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content appScrollbarTheme>
      <ion-list lines="none">
        <ion-radio-group [(ngModel)]="activeDevicesId.audioinput"
                         (ngModelChange)="deviceChanged($event, 'audio')">
          <ion-list-header>
            <ion-label> Audio input </ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of devices.audioinput"
                    class="no-ion-hover">
            <ion-label> {{item.label}} </ion-label>
            <ion-radio slot="start" color="roomate-green"
                       [value]="item.deviceId"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list lines="none">
        <ion-radio-group [(ngModel)]="activeDevicesId.videoinput"
                         (ngModelChange)="deviceChanged($event, 'video')">
          <ion-list-header>
            <ion-label> Video input </ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of devices.videoinput"
                    class="no-ion-hover">
            <ion-label> {{item.label}} </ion-label>
            <ion-radio slot="start" color="roomate-green"
                       [value]="item.deviceId"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list lines="none">
        <ion-radio-group [(ngModel)]="activeDevicesId.audiooutput"
                         (ngModelChange)="audioOutputId.emit($event)">
          <ion-list-header>
            <ion-label> Audio output </ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of devices.audiooutput"
                    class="no-ion-hover">
            <ion-label> {{item.label}} </ion-label>
            <ion-radio slot="start" color="roomate-green"
                       [value]="item.deviceId"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
