.header-container {
  background: var(--ion-background-color);
  min-height: 58px;
  padding: 5px;

  ion-menu-button {
    --color: var(--ion-color-dark);
  }

  // for static content position while menu button is rendering
  .left-menu-button { position: absolute; }
  .content { margin-left: 48px; }

  .link {
    padding: 5px 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;

    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    color: var(--ion-color-medium);

    ion-icon {
      font-size: 20px;
      margin-right: 10px;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  .active-link {
    color: var(--roomate-color-green) !important;
  }
}
