<ion-row class="header-container ion-justify-content-between"
         [style.padding.px]="(isFull$ | async) ? 12 : 5">

  <ion-row class="ion-align-items-center">
    <ion-menu-button menu="start-menu" mode="md"></ion-menu-button>
    <ng-content></ng-content>
  </ion-row>

  <ion-row class="ion-align-items-center">

    <ng-container *ngIf="isFull$ | async">
<!--      links-->
      <a *ngFor="let link of menuLinks"
         (click)="moduleNavigate(link)"
         [ngClass]="link.active ? 'active-link' : ''"
         class="link no-text-selection">
        <ion-icon [name]="link.icon"></ion-icon>
        <span> {{link.title}} </span>
      </a>

    </ng-container>

    <!--      buttons-->
    <a class="link" (click)="changeDarkMode()">
      <ion-icon name="settings-sharp"></ion-icon>
      <span> settings </span>
    </a>

    <ion-menu-button menu="end-menu">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-menu-button>

  </ion-row>

</ion-row>

