<ion-content appScrollbarTheme>

  <ion-accordion-group *ngIf="(channelFolders$ | async) as folders; else skeletonList"
                       [value]="['public', 'private']"
                       [multiple]="true">
    <ion-accordion *ngFor="let folder of folders; trackBy:trackByValue"
                   [value]="folder.value"
                   mode="ios">
      <ion-item slot="header" class="acc-header no-ion-hover" lines="none">
        <ion-icon [name]="folder.icon"></ion-icon>
        <ion-label> {{ folder.title }} </ion-label>
      </ion-item>

      <ion-list slot="content" lines="none" mode="md">
        <ion-menu-toggle [autoHide]="false">
          <ion-item class="no-ion-hover"
                    *ngFor="let item of folder.channels; trackBy:trackById"
                    [ngClass]="item.unreadMessagesCount ? 'unread' : 'read'"
                    [routerLink]="['/app', 'channel', 'current', item.id]"
                    routerLinkActive="active">
            <span class="tag"> # </span>
            <ion-label> {{item.title}} </ion-label>
            <ion-badge *ngIf="item.unreadMessagesCount"
                       color="medium"> {{item.unreadMessagesCount}} </ion-badge>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ng-template #skeletonList>
    <div class="skeleton" *ngFor="let i of [1, 2]">
      <ion-item lines="none">
        <ion-skeleton-text animated="true"></ion-skeleton-text>
      </ion-item>
      <ion-list lines="none">
        <ion-item lines="none" *ngFor="let i of [1, 2, 3, 4]">
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>

</ion-content>
