<ion-row class="header-container ion-justify-content-between">

  <ion-row class="ion-align-items-center">
    <ion-menu-button menu="start-menu" mode="md"
                     class="left-menu-button">
    </ion-menu-button>
    <ion-row [class.content]="(isFull$ | async) === false"
             class="ion-align-items-end">
      <ng-content ></ng-content>
    </ion-row>
  </ion-row>

  <ion-row class="ion-align-items-center">

    <ng-container *ngIf="isFull$ | async">
      <!--      links-->
      <a *ngFor="let link of menuLinks"
         [routerLink]="[link.url]"
         routerLinkActive="active-link"
         class="link no-text-selection">
        <ion-icon [name]="link.icon"></ion-icon>
        <span> {{link.title}} </span>
      </a>
      <!--      buttons-->
      <a class="link" (click)="changeDarkMode()">
        <ion-icon name="settings-sharp"></ion-icon>
        <span> settings </span>
      </a>
    </ng-container>

    <ion-menu-button *ngIf="endSideButtonIcon as name"
                     menu="end-menu">
      <ion-icon [name]="name"></ion-icon>
    </ion-menu-button>

  </ion-row>

</ion-row>

