<div class="stream-container" (click)="openPopover()">
  <video #videoEl
         playsinline autoplay> </video>

  <audio #audioEl
         [volume]="audioVolume / 100"
         autoplay> </audio>

  <div #speakerBorder class="audio-border"></div>

  <div *ngIf="!videoEl.srcObject" class="no-video">
    <ion-icon name="videocam-off-outline"></ion-icon>
  </div>

  <div class="display">
    {{display}}
  </div>

  <ion-button [id]="popoverId"
              class="no-ion-hover popover-button"
              size="small" fill="clear">
    <ion-icon name="ellipsis-horizontal"></ion-icon>
  </ion-button>

  <ion-popover #popover
               [trigger]="popoverId"
               [showBackdrop]="false"
               mode="md" side="left">
    <ng-template>
      <ion-list lines="none" class="popover-list">
        <ion-item *ngIf="audioTrack"
                  button="" class="no-ion-hover">
          <ion-range [(ngModel)]="audioVolume"
                     color="roomate-green" >
            <ion-icon (click)="setVolume(0)"
                      slot="start" name="volume-low-outline">
            </ion-icon>
            <ion-icon (click)="setVolume(100)"
                      slot="end" name="volume-high-outline">
            </ion-icon>
          </ion-range>
        </ion-item>

        <ion-item button="" class="no-ion-hover"
                  (click)="openModal()">
          <ion-label> full screen </ion-label>
          <ion-icon name="expand-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</div>

<ion-modal #modal
           (ionModalWillDismiss)="onModalWillClose()"
           css-class="publisher-modal" mode="md">
  <ng-template>
    <ion-row>
      <ion-range *ngIf="audioTrack"
                 [(ngModel)]="audioVolume"
                 color="medium">
        <ion-icon slot="start" name="volume-low-outline"></ion-icon>
        <ion-icon slot="end" name="volume-high-outline"></ion-icon>
      </ion-range>

      <ion-button class="no-ion-hover" fill="clear" color="medium"
                  (click)="closeModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-row>

    <video [id]="modalVideoElId"
           playsinline autoplay> </video>

    <app-shared-loader [loading]="modalLoading"
                       [background]="'var(--roomate-border-color)'">
    </app-shared-loader>
  </ng-template>
</ion-modal>


