<app-shared-profile-side></app-shared-profile-side>

<ion-content appScrollbarTheme>
  <ion-accordion-group value="public">
    <ion-accordion value="public" mode="ios">

      <ion-item slot="header" class="acc-header">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label> Public channels </ion-label>
      </ion-item>

      <ion-list slot="content" lines="none" mode="md">
        <ion-menu-toggle [autoHide]="false">
          <ng-container *ngFor="let item of publicChannels">
            <ion-item (click)="openCurrentChannel(item.id)"
                      [ngClass]="channelNgStyle(item)">
              <span class="tag"> # </span>
              <ion-label> {{item.title}} </ion-label>
            </ion-item>
          </ng-container>
        </ion-menu-toggle>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group value="private">
    <ion-accordion value="private" mode="ios">

      <ion-item slot="header" class="acc-header">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label> Private channels </ion-label>
      </ion-item>

      <ion-list slot="content" lines="none" mode="md">

        <ion-item *ngFor="let item of privateChannels"
                  [ngClass]="item.unread ? 'unread' : 'read'">
          <span class="tag"> # </span>
          <ion-label> {{item.title}} </ion-label>
        </ion-item>

      </ion-list>

    </ion-accordion>
  </ion-accordion-group>
</ion-content>
