ion-content {
  height: calc(100vh - 115px);

  ion-accordion.accordion-expanding ion-item[slot="header"],
  ion-accordion.accordion-expanded ion-item[slot="header"] {
    --color: var(--ion-color-medium) !important;
  }

  ion-accordion {
    margin-top: 15px;

    .acc-header {
      --color: var(--roomate-color-green);

      font-size: 14px;
      letter-spacing: 1px;

      ion-icon {
        font-size: 18px;
        margin-bottom: 2px;
      }

      ::ng-deep .ion-accordion-toggle-icon {
        font-size: 18px;
      }
    }

    ion-icon, .tag {
      margin-right: 15px;
    }
    .tag {
      font-size: 20px;
    }

    ion-list {
      background: none;
      margin-left: 35px;
      padding: 0;

      ion-item {
        --background: none;
        cursor: pointer;

        &:hover {
          opacity: 0.75;
        }
      }

      .unread {
      }
      .read {
        --color: var(--ion-color-medium);
      }
      .active {
        --color: var(--roomate-color-green) !important;
        font-weight: bolder;
      }
    }
  }
}
