ion-header {
  &:after {
    background-image: none;
  }
}

ion-content {
  .msgs-container {
    padding: 0 20px;

    .message {
      margin: 15px 5px;
      padding: 20px 15px 10px;
      border-radius: 10px;

      display: flex;
      flex-direction: column;

      .ion-text-right {
        filter: brightness(50%);
        font-size: 14px;
      }
    }

    .my-message {
      background-color: var(--roomate-my-message);
      margin-left: 25% !important;
    }

    .other-message {
      background-color: var(--roomate-other-message);
      margin-right: 25% !important;
    }
  }
}

ion-footer {
  ion-toolbar {
    filter: brightness(95%);
    --background: var(--roomate-border-color);


    .textarea-container {
      display: flex;
      align-items: flex-end;

      ion-icon {
        margin: 12px;
        font-size: 20px;
      }

      ion-textarea {
        margin: 0;
        flex: 1;
      }
    }
  }
}
