<ion-header mode="md">
  <app-shared-header endSideButtonIcon="globe-sharp">
    <span class="roomate-header-title">
      channel {{channelId}}
    </span>
  </app-shared-header>
</ion-header>

<ion-content #currentChatContent
             appScrollbarTheme>

  <app-shared-loader [loading]="loading"
                     [background]="'var(--ion-background-color)'">
  </app-shared-loader>

  <app-shared-chat [scrollEnabled]="!loading"
                   [messages]="messages"
                   (infiniteScroll)="infiniteScroll($event)">
  </app-shared-chat>

</ion-content>

<ion-footer class="ion-no-border">
  <app-shared-textarea-footer (messageSend)="messageSend($event)">
  </app-shared-textarea-footer>
</ion-footer>
