<ion-header mode="md">
  <app-shared-header endSideButtonIcon="globe-sharp">
    <span *ngIf="(title$ | async) as title; else skeletonTitle"
          class="roomate-header-title">
      {{ title }}
    </span>
    <ng-template #skeletonTitle>
      <ion-skeleton-text class="roomate-header-title-skeleton"
                         animated="true">
      </ion-skeleton-text>
    </ng-template>
  </app-shared-header>
</ion-header>

<ion-content #currentChatContent
             appScrollbarTheme>

  <app-shared-loader [loading]="loading"
                     [background]="'var(--ion-background-color)'">
  </app-shared-loader>

  <app-shared-chat [scrollEnabled]="!loading"
                   [messages]="messages$ | async"
                   (infiniteScroll)="infiniteScroll($event)">
  </app-shared-chat>

</ion-content>

<ion-footer class="ion-no-border">
  <app-shared-textarea-footer (messageSend)="messageSend($event)">
  </app-shared-textarea-footer>
</ion-footer>
