<div class="profile-header">
  <ion-row *ngIf="(user$ | async) as user"
           (click)="invisibleButton.click()"
           class="ion-align-items-end">
    <ion-thumbnail>
      <img [src]="user.imageUrl" alt="">
    </ion-thumbnail>

    <ion-col>
      <div class="full-name"> {{ user.fullName }} </div>
      <div class="screen-name"> @{{ user.userName }} </div>
    </ion-col>

    <button #invisibleButton
            class="invisible-button"
            id="profile-item">
    </button>
  </ion-row>

  <ion-popover trigger="profile-item"
               dismissOnSelect="true"
               show-backdrop="false"
               side="left" mode="md">
    <ng-template>
      <ion-list lines="none">
        <ion-item button="" class="no-ion-hover">
          <ion-label> profile settings </ion-label>
          <ion-icon name="cog-outline"></ion-icon>
        </ion-item>
        <ion-item button="" class="no-ion-hover" (click)="logout()">
          <ion-label color="danger"> logout </ion-label>
          <ion-icon color="danger" name="log-out-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</div>
