<ion-header mode="md">
  <app-shared-header endSideButtonIcon="chatbox">
    <span class="roomate-header-title">
      room {{roomId}}
    </span>
  </app-shared-header>
</ion-header>

<ion-content appScrollbarTheme>
  <div *ngIf="roomConfigured"
       class="streams-container ion-padding"
       [class.mobile-container]="isMobile$ | async">
    <app-stream *ngFor="let item of remoteTracks; let i = index"
                [display]="item.display"
                [audioTrack]="item.audioTrack"
                [videoTrack]="item.videoTrack"
                [index]="i">
    </app-stream>
  </div>
</ion-content>

<app-media-footer></app-media-footer>
