<ion-header mode="md">
  <app-shared-header endSideButtonIcon="chatbox">
    <span class="roomate-header-title">
      room {{roomId}}
    </span>
  </app-shared-header>
</ion-header>

<ion-content appScrollbarTheme>
  <div *ngIf="roomConfigured"
       class="streams-container ion-padding"
       [class.mobile-container]="isMobile$ | async">
    <app-stream *ngFor="let item of remoteTracks; let i = index"
                [display]="item.display"
                [tracks]="item.tracks"
                [index]="i">
    </app-stream>
  </div>
</ion-content>

<ion-footer class="ion-no-border" mode="md"
            [class.footer-visible]="roomConfigured">
  <ion-toolbar>
    <ion-row class="actions-container"
             [class.mobile-actions]="isMobile$ | async">
      <ion-button fill="clear" color="medium" mode="md">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="medium" mode="md">
        <ion-icon name="desktop-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="medium" mode="md"
                  (click)="toggleVideo()">
        <ion-icon [name]="'videocam' + (isVideoMuted ? '-off' : '')"></ion-icon>
      </ion-button>

      <ion-button color="medium" mode="md"
                  (click)="toggleAudio()"
                  [fill]="isAudioMuted ? 'outline' : 'clear'">
        <ion-icon [name]="'mic' + (isAudioMuted ? '-off' : '')"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="danger" mode="md">
        <ion-icon name="call-sharp"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
