ion-header {
  &:after {
    background-image: none;
  }
}

ion-content {
  .streams-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    app-stream {
      height: 350px !important;
    }
  }

  .mobile-container {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)) !important;
    app-stream {
      height: 235px !important;
    }
  }
}

.actions-container {
  align-items: center;
  justify-content: center;
  margin: auto;

  ion-button {
    margin: 15px;
    --border-radius: 10px;
    ion-icon {
      font-size: 25px;
    }
  }

  width: 500px;
}

.mobile-actions {
  width: 350px;
  ion-button {
    margin: 5px;
    ion-icon {
      font-size: 22px !important;
    }
  }
}

ion-footer {
  margin-bottom: -70px;
}

.footer-visible {
  transition: all 0.3s ease-in;
  margin-bottom: 0;
}
