<ion-app>
  <ion-split-pane content-id="menu-content" [when]="splitPaneSize">

    <ion-menu content-id="menu-content"
              menuId="start-menu"
              side="start" type="reveal"
              (ionDidOpen)="isMenuShown$.next(true)"
              (ionDidClose)="isMenuShown$.next(false)"
              [maxEdgeStart]="menuEdgeStart">

      <app-profile-header></app-profile-header>
      <ng-container *ngComponentOutlet="startSideMenuComponent | async">
      </ng-container>
    </ion-menu>

    <ion-menu content-id="menu-content"
              menuId="end-menu"
              side="end" type="reveal"
              [maxEdgeStart]="menuEdgeStart">
      sdfsdfsdf
    </ion-menu>

    <!--    content-routing-->
    <ion-router-outlet id="menu-content"
                       animated="false">
    </ion-router-outlet>

  </ion-split-pane>

  <app-tabs *ngIf="isMobile$ | async"
            [isMenuShown$]="isMenuShown$.asObservable()">
  </app-tabs>
</ion-app>
