ion-header {
  &:after {
    background-image: none;
  }
  .is-online {
    color: var(--roomate-color-green);
    font-size: 13px;
    margin-top: 4px;
    margin-left: 6px;
    font-weight: bolder;
  }
}

ion-content {
  .current-chat-infinite-loading {
    min-height: 40px !important;
    ::ng-deep .infinite-loading {
      --color: var(--roomate-color-green);
      margin: 4px 0;
    }
  }

  .msgs-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column-reverse;

    .message {
      margin: 8px 4px;
      padding: 16px 12px 8px;
      border-radius: 10px;

      min-width: 170px;
      max-width: 80%;

      display: flex;
      flex-direction: column;

      .ion-text-right {
        margin-top: 4px;
        opacity: 0.5;
        font-size: 14px;
      }
    }

    .my-message {
      background-color: var(--roomate-my-message);
      align-self: flex-end;
    }

    .other-message {
      background-color: var(--roomate-other-message);
      align-self: flex-start;
    }
  }
}
