<ion-header mode="md">
  <app-shared-header>
    <span class="roomate-header-title">
      {{(isFull$ | async) ? currentUser.fullName : currentUser.shortName}}
    </span>
    <span *ngIf="currentUser.online"
          class="is-online"> online </span>
  </app-shared-header>
</ion-header>

<ion-content #currentChatContent
             appScrollbarTheme>

  <app-shared-loader [loading]="loading"
                     [background]="'var(--ion-background-color)'">
  </app-shared-loader>

  <ion-infinite-scroll *ngIf="!loading"
                       threshold="50%" position="top"
                       (ionInfinite)="infiniteScroll($event)">
    <ion-infinite-scroll-content loading-spinner="crescent"
                                 class="current-chat-infinite-loading">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="msgs-container">
    <div *ngFor="let msg of dataSource; let i = index"
         [ngClass]="msg.from === 0 ? 'my-message' : 'other-message'"
         class="message">
      <span> {{msg.msg}} </span>
      <span class="ion-text-right">
        <b> index: {{i}} </b>
        {{ msg.date | date:'hh:mm' }}
      </span>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="textarea-container">

      <ion-icon name="document-outline"></ion-icon>

      <ion-textarea class="message-input"
                    autoGrow="true" rows="1"
                    placeholder="enter your message...">
      </ion-textarea>

      <ion-icon name="mic-outline"></ion-icon>
      <ion-icon name="send-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>
