<div class="stream-container" (click)="openPopover()">
  <video #videoEl
         [volume]="videoVolume / 100"
         playsinline autoplay>
  </video>

  <div class="display">
    {{publisher.display}}
  </div>

  <ion-button [id]="'publisher-popover-' + publisher.id"
              class="no-ion-hover popover-button"
              size="small" fill="clear">
    <ion-icon name="ellipsis-horizontal"></ion-icon>
  </ion-button>

  <ion-popover #popover
               [trigger]="'publisher-popover-' + publisher.id"
               [showBackdrop]="false"
               mode="md" side="left">
    <ng-template>
      <ion-list lines="none" class="popover-list">
        <ion-item button="" class="no-ion-hover">
          <ion-range color="roomate-green" [(ngModel)]="videoVolume">
            <ion-icon slot="start" name="volume-low-outline"></ion-icon>
            <ion-icon slot="end" name="volume-high-outline"></ion-icon>
          </ion-range>
        </ion-item>

        <ion-item button="" class="no-ion-hover"
                  (click)="openModal()">
          <ion-label> full screen </ion-label>
          <ion-icon name="expand-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</div>

<ion-modal #modal
           (ionModalWillDismiss)="onModalWillClose()"
           css-class="publisher-modal" mode="md">
  <ng-template>
    <ion-row>
      <ion-range color="medium" [(ngModel)]="videoVolume">
        <ion-icon slot="start" name="volume-low-outline"></ion-icon>
        <ion-icon slot="end" name="volume-high-outline"></ion-icon>
      </ion-range>

      <ion-button class="no-ion-hover" fill="clear" color="medium"
                  (click)="closeModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-row>

    <video id="modalVideoEl"
           [volume]="videoVolume / 100"
           playsinline autoplay>
    </video>

    <app-shared-loader [loading]="modalLoading"
                       [background]="'var(--roomate-border-color)'">
    </app-shared-loader>
  </ng-template>
</ion-modal>


