/** Custom CSS Variables **/
:root {
  --roomate-color-sand: #DECCBE;
  --roomate-color-brown: #7F493F;
  --roomate-color-green: #6E835A;
  --roomate-color-dark: #2D2926;
  --roomate-color-light: #AAAA88;

  // main custom
  --roomate-background-color: #F2EFE7;
  --roomate-border-color: #E4E1D9;

  // ion-roomate-green
  --ion-color-roomate-green: #6E835A;
  --ion-color-roomate-green-rgb: 110,131,90;
  --ion-color-roomate-green-contrast: #ffffff;
  --ion-color-roomate-green-contrast-rgb: 255,255,255;
  --ion-color-roomate-green-shade: #61734f;
  --ion-color-roomate-green-tint: #7d8f6b;

  // chat colors
  --roomate-my-message: #fff;
  --roomate-other-message: #E4E1D9;
}

body.dark {
  // main custom
  --roomate-background-color: #2D2926;
  --roomate-border-color: #33312e;

  // chat colors
  --roomate-my-message: #1f1f1f;
  --roomate-other-message: #33312e;
}

// custom color classes

.ion-color-roomate-green {
  --ion-color-base: var(--ion-color-roomate-green) !important;
  --ion-color-base-rgb: var(--ion-color-roomate-green-rgb) !important;
  --ion-color-contrast: var(--ion-color-roomate-green-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-roomate-green-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-roomate-green-shade) !important;
  --ion-color-tint: var(--ion-color-roomate-green-tint) !important;
}

// custom common classes

.roomate-header-title {
  font-weight: bolder;
  color: var(--ion-text-color);
  display: block;
  font-size: 18px;
  margin: 0 10px;
}

.no-ion-hover {
  --background-hover: none !important;
}

.text-overflow {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
