/** Custom CSS Variables **/
:root {
  --roomate-color-sand: #DECCBE;
  --roomate-color-brown: #7F493F;
  --roomate-color-dark: #2D2926;
  --roomate-color-light: #AAAA88;

  // main custom
  --roomate-background-color: #F2EFE7;
  --roomate-border-color: #E4E1D9;

  //--roomate-color-green: #6E835A;
  // roomate-green
  --roomate-color-green: #5f8d41;
  // ion-roomate-green
  --ion-color-roomate-green: #5f8d41;
  --ion-color-roomate-green-rgb: 95,141,65;
  --ion-color-roomate-green-contrast: #ffffff;
  --ion-color-roomate-green-contrast-rgb: 255,255,255;
  --ion-color-roomate-green-shade: #547c39;
  --ion-color-roomate-green-tint: #6f9854;

  // chat colors
  --roomate-my-message: #fafaf0;
  --roomate-other-message: #E4E1D9;
}

body.dark {
  // main custom
  --roomate-background-color: #2D2926;
  --roomate-border-color: #33312e;

  // chat colors
  --roomate-my-message: #25211e;
  --roomate-other-message: #33312e;
}

// custom color classes

.ion-color-roomate-green {
  --ion-color-base: var(--ion-color-roomate-green) !important;
  --ion-color-base-rgb: var(--ion-color-roomate-green-rgb) !important;
  --ion-color-contrast: var(--ion-color-roomate-green-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-roomate-green-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-roomate-green-shade) !important;
  --ion-color-tint: var(--ion-color-roomate-green-tint) !important;
}

// custom common classes

.roomate-header-title {
  font-weight: bolder;
  color: var(--ion-text-color);
  display: block;
  font-size: 18px;
  margin-left: 10px;
}

.roomate-header-title-skeleton {
  margin: 0 0 0 10px;
  border-radius: 10px;
  height: 21px;
  width: 200px;
}

.no-ion-hover {
  --background-hover: none !important;
  --ripple-color: transparent !important;
  --background-activated: transparent !important;
}

.no-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-overflow {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.roomate-page {
  top: 58px !important; // header size
}
