<ion-split-pane content-id="menu-content" [when]="splitPaneSize">

  <ion-menu content-id="menu-content"
            menuId="start-menu"
            side="start" type="reveal"
            (ionDidOpen)="isTabsShowing$.next(true)"
            (ionDidClose)="isTabsShowing$.next(false)"
            [maxEdgeStart]="menuEdgeStart">

    <app-profile-header></app-profile-header>
    <div class="start-container"
         [style.padding-bottom.px]="(isTabsShowing$ | push) ? 65 : 0">
      <ng-container *ngComponentOutlet="startSideMenuComponent$ | push">
      </ng-container>
    </div>
  </ion-menu>

  <ion-menu *rxLet="endSideMenuTemplate$; let template"
            content-id="menu-content"
            menuId="end-menu"
            side="end" type="reveal"
            [swipeGesture]="template !== null"
            [maxEdgeStart]="menuEdgeStart">
    <ng-container *ngIf="template">
      <ng-container *ngComponentOutlet="template.component;
                    injector: template.injector"></ng-container>
    </ng-container>
  </ion-menu>

  <!--    content-routing-->
  <div id="menu-content" class="ion-page">
    <ion-header mode="md">
      <app-page-header></app-page-header>
    </ion-header>
    <router-outlet></router-outlet>
  </div>

</ion-split-pane>

<app-tabs *rxIf="isMobile$"
          [isTabsShowing]="isTabsShowing$ | push">
</app-tabs>

