ion-split-pane {
  --side-max-width: 350px;
  //--border: 2px solid var(--roomate-border-color);
  --border: none;
}

::ng-deep {
  ion-header {
    &:after {
      display: none;
    }
  }

  .ion-valid {
    --highlight-background: var(--roomate-color-green) !important;
  }
}

.start-container {
  height: calc(100vh - 100px);
}
