<div class="custom-header">
  <span class="title"> Channel rooms </span>
</div>

<ion-content class="ion-padding">
  <div class="rooms-container">
    <ion-row class="block-header">
      <h3> 8 rooms opened </h3>
      <a> See all </a>
    </ion-row>

    <ion-card *ngFor="let room of rooms">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <ion-card-title> {{room.title}} </ion-card-title>
            <ion-card-subtitle> {{room.joined.total}} online: </ion-card-subtitle>
          </ion-col>
          <ion-button fill="outline" size="small"
                      mode="md" color="roomate-green">
            join
          </ion-button>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-thumbnail *ngFor="let user of room.joined.list"
                       [title]="user.name">
          <img [src]="user.img" alt="">
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
