<!--<div class="custom-header">-->
<!--  <span class="title"> Channel rooms </span>-->
<!--</div>-->

<ion-header mode="md">
  <ion-toolbar>
    <ion-title>
      <span class="tag"> # </span>
      channel rooms
    </ion-title>

    <ion-row>
      <ion-col>
        <ion-button fill="clear" size="small"
                    color="roomate-green">
          <ion-icon name="call-outline"></ion-icon>
          <span> voice room </span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" size="small"
                    color="roomate-green">
          <ion-icon name="videocam-outline"></ion-icon>
          <span> video room </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" appScrollbarTheme>
  <div class="rooms-container">
    <div class="block-header">
      <h3> 8 rooms opened </h3>
      <a> See all </a>
    </div>

    <ion-card *ngFor="let room of rooms">

      <ion-card-header>
        <ion-row>
          <ion-col>
            <ion-card-title> {{room.title}} </ion-card-title>
            <ion-card-subtitle> {{room.joined.total}} online </ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row class="room-corner-container">

          <ion-icon *ngIf="room.private"
                    name="lock-closed-outline"
                    title="private room"
                    class="lock-icon"> </ion-icon>

          <ion-button [id]="'details-button-' + room.id"
                      class="no-button-hover"
                      size="small" fill="clear">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-button>

          <ion-popover [trigger]="'details-button-' + room.id"
                       [dismissOnSelect]="true"
                       [showBackdrop]="false"
                       mode="md">
            <ng-template>
                <ion-list lines="none">

                  <ion-item button="" class="no-button-hover">
                    <ion-label> close room </ion-label>
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-item>

                  <ion-item button="" class="no-button-hover">
                    <ion-label> rename room </ion-label>
                    <ion-icon name="text-outline"></ion-icon>
                  </ion-item>

                  <ion-item *ngIf="room.private else closeRoomItem"
                            button="" class="no-button-hover">
                    <ion-label> unlock room </ion-label>
                    <ion-icon name="lock-open-outline"></ion-icon>
                  </ion-item>

                  <ng-template #closeRoomItem>
                    <ion-item button="" class="no-button-hover">
                      <ion-label> lock room </ion-label>
                      <ion-icon name="lock-closed-outline"></ion-icon>
                    </ion-item>
                  </ng-template>

                </ion-list>
            </ng-template>
          </ion-popover>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-button fill="outline" size="small"
                      mode="md" color="roomate-green">
            join
          </ion-button>
          <div class="users">
            <ion-thumbnail *ngFor="let user of room.joined.list"
                           [title]="user.name">
              <img [src]="user.img" alt="">
            </ion-thumbnail>
          </div>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
