ion-header {
  &:after {
    background-image: none;
  }
  ion-toolbar {
    //--background: var(--ion-background-color);
    padding: 15px 0 5px;

    .tag {
      font-size: 22px;
      margin-right: 10px;
    }

    ion-row {
      margin-top: 15px;
      ion-col {
        padding: 5px 8px;
        ion-button {
          width: 100%;
          font-size: 13px;

          ion-icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

ion-content {
  height: calc(100vh - 108px);

  .block-header {
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    h3 {
      margin: 0 0 5px 0;
    }
    a {
      cursor: pointer;
      color: var(--ion-color-medium);

      &:hover {
        filter: brightness(80%);
      }
    }
  }

  .rooms-container {
    ion-card {
      box-shadow: none !important;
      --background: var(--roomate-border-color);

      ion-card-header {
        padding-bottom: 12px;

        ion-col {
          padding: 0;
          ion-card-title {
            --color: var(--ion-text-color);
          }
          ion-card-subtitle {
            --color: var(--ion-color-medium);
          }
        }

        .room-corner-container {
          top: 0;
          right: 0;
          position: absolute;
          align-items: center;

          .lock-icon {
            font-size: 20px;
          }

          ion-button {
            --color: var(--ion-color-medium);
          }
        }

        ion-popover {
          ion-list {
            --background: red;
          }
        }
      }

      ion-card-content {
        .users {
          flex: 1;
          display: flex;
          justify-content: flex-end;

          ion-thumbnail {
            --border-radius: 100%;
            --size: 30px;
            filter: brightness(90%);

            &:hover {
              filter: brightness(100%);
            }

            &:not(:last-child) {
              margin-right: -5px;
            }
          }
        }
      }
    }
  }
}

.no-button-hover {
  --background-hover: none;
}
