<div *ngFor="let msg of messages; let first = first; let last = last"
     [class.self]="self"
     [class.self-mobile]="self && (isMobile$ | push)"
     [id]="msg.id"
     class="message">

  <div class="img-container">
    <ion-thumbnail *ngIf="first">
      <img *ngIf="user; else skeletonAvatar"
           [src]="user.imageUrl" alt=""
           (click)="openUser()">
      <ng-template #skeletonAvatar>
        <ion-skeleton-text animated="true">
        </ion-skeleton-text>
      </ng-template>
    </ion-thumbnail>
  </div>

  <div class="text-container">
    <ng-container *ngIf="last">
      <div *ngIf="user; else skeletonName" class="name">
        <span (click)="openUser()"> {{user.fullName}} </span>
      </div>
      <ng-template #skeletonName>
        <ion-skeleton-text class="skeleton-name"
                           animated="true">
        </ion-skeleton-text>
      </ng-template>
    </ng-container>

<!--    white-space: pre-wrap container!!!-->
    <div class="text">{{msg.content}}</div>

    <div class="date">
      <ion-icon *ngIf="msg.id === null"
                name="time-outline"></ion-icon>
      <span> {{ msg.timestamp | date:'H:mm' }} </span>
    </div>
  </div>
</div>
