<ion-modal #infoModal
           [breakpoints]="isTouchDevise ? [0.5, 0.75, 1] : undefined"
           [initialBreakpoint]="isTouchDevise ? 0.5 : undefined">
  <ng-template>
    <ion-header mode="md">
      <ion-toolbar>
        <span class="roomate-header-title"> Channel info </span>
        <ion-buttons slot="end">
          <ion-button fill="clear" color="roomate-green"
                      (click)="modal.dismiss()"> close </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ng-container *ngIf="(channel$ | async) as channel">

      <ion-item class="info-header" lines="full">
        <ion-label> {{ channel.title }} </ion-label>
        <span> {{ channel.members.length }} members </span>
      </ion-item>

      <ion-content appScrollbarTheme
                   scrollAlwaysVisible="true">

        <ion-list lines="none" mode="md" class="actions">

          <ion-item (click)="changeNotify()">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>
            <ion-label> Notifications </ion-label>
            <ion-toggle color="roomate-green" [checked]="isNotify"></ion-toggle>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="exit-outline" color="danger"></ion-icon>
            <ion-label color="danger"> Leave channel </ion-label>
          </ion-item>

        </ion-list>

        <app-shared-users-list *ngIf="{ users: (getChannelUsers(channel.members) | async) } as context"
                               [usersList]="context.users">
          <ion-item class="header">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label *ngIf="context.users">
              <h2> All channel's members: </h2>
              <p> ({{getOnlineUsersCount(context.users)}} users online) </p>
            </ion-label>
          </ion-item>
        </app-shared-users-list>

      </ion-content>

    </ng-container>
  </ng-template>
</ion-modal>
