<ion-modal #infoModal
           [breakpoints]="isTouchDevise ? [0.5, 0.75, 1] : undefined"
           [initialBreakpoint]="isTouchDevise ? 0.5 : undefined">
  <ng-template>
    <ion-header mode="md">
      <ion-toolbar>
        <span class="roomate-header-title"> {{ 'channelInfo' | localization }} </span>
        <ion-buttons slot="end">
          <ion-button fill="clear" color="roomate-green"
                      (click)="modal.dismiss()"> {{ 'close' | localization }} </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ng-container *rxLet="channel$; let channel">

      <ion-item class="info-header" lines="full">
        <ion-label> {{ channel.title }} </ion-label>
        <span> {{ channel.members.length }} {{ 'nMembers' | localization : channel.members.length }} </span>
      </ion-item>

      <ion-list lines="none" mode="md" class="actions">

        <ion-item (click)="changeNotify()">
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label> {{ 'notifications' | localization }} </ion-label>
          <ion-toggle color="roomate-green" [checked]="isNotify"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="exit-outline" color="danger"></ion-icon>
          <ion-label color="danger"> {{ ['leave', 'channel'] | localization }} </ion-label>
        </ion-item>

      </ion-list>

      <ion-content appScrollbarTheme
                   scrollAlwaysVisible="true">

        <app-shared-users-list *rxLet="channelsUsers$; let users"
                               [usersList]="users">
          <ion-item class="header">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label *ngIf="users">
              <h2> {{ 'allChannelsMembers' | localization }}: </h2>
              <p *ngIf="getOnlineUsersCount(users) as onlineCount">
                ({{ onlineCount }}
                {{ 'nUsers' | localization : onlineCount }}
                {{ 'online' | localization | lowercase }})
              </p>
            </ion-label>
          </ion-item>
        </app-shared-users-list>

      </ion-content>

    </ng-container>
  </ng-template>
</ion-modal>
