.roomate-header-title {
  margin-left: 16px;
}

.info-header {
  margin-top: 5px;
  ion-label {
    font-size: 18px;
    font-weight: bolder;
  }
  span {
    color: var(--ion-color-medium);
  }
}

ion-content {
  height: calc(100% - 110px);

  ion-list {
    padding-left: 12px;
    padding-right: 6px;
    ion-icon {
      font-size: 1.6rem;
    }
  }

  .actions {
    margin-top: 10px;

    ion-item {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
