.profile-header {
  padding: 30px 15px 20px;

  ion-row {
    cursor: pointer;
    ion-thumbnail {
      --size: 65px;
      --border-radius: 100%;
    }

    ion-col {
      margin-left: 10px;

      .full-name {
        font-size: 17px;
        margin-bottom: 3px;
        font-weight: bolder;
        color: var(--ion-text-color);
      }

      .screen-name {
        color: var(--ion-color-medium);
      }
    }
  }

  .invisible-button {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}
