<div *ngFor="let msg of groupMessages.messages; let i = index"
     class="message">
  <div class="img-container">
<!--    avatar for first message-->
    <ion-thumbnail *ngIf="i === 0">
      <img [src]="groupMessages.user.smallImg" alt="">
    </ion-thumbnail>
  </div>
  <div class="text-container">
<!--    name for last message-->
    <div class="name" *ngIf="i === groupMessages.messages.length - 1">
      {{groupMessages.user.fullName}}
    </div>
    <div class="text"> {{msg.msg}} </div>
    <div class="date"> {{ msg.date | date:'hh:mm' }} </div>
  </div>
</div>
