<ng-template #header>
  <span *rxLet="title$; let title; suspense: skeletonTitle"
        (click)="openInfoModal(channelInfo.modal)"
        class="roomate-header-title">
    {{ title }}
  </span>
  <ng-template #skeletonTitle>
    <ion-skeleton-text class="roomate-header-title-skeleton"
                       animated="true">
    </ion-skeleton-text>
  </ng-template>
</ng-template>

<div class="ion-page roomate-page">
  <app-shared-chat *rxLet="chatInfo$; let info"
                   [messages]="messages$ | push"
                   [isTopMesLimitAchieved]="info.isTopMesLimitAchieved"
                   [isBottomMesLimitAchieved]="info.isBottomMesLimitAchieved"
                   [lastReadMessageId]="info.lastReadMessageId"
                   (updateLastReadMessage)="updateLastReadMessage($event)"
                   (infiniteScroll)="infiniteScroll($event)">
  </app-shared-chat>

  <ion-footer class="ion-no-border">
    <app-shared-textarea-footer (messageSend)="messageSend($event)">
    </app-shared-textarea-footer>
  </ion-footer>

  <app-channel-info-modal #channelInfo
                          [channelId]="channelId$ | push">
  </app-channel-info-modal>
</div>
