<ion-infinite-scroll *ngIf="scrollEnabled"
                     threshold="50%" position="top"
                     (ionInfinite)="infiniteScroll.emit($event)">
  <ion-infinite-scroll-content loading-spinner="crescent"
                               class="current-chat-infinite-loading">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<div class="msgs-container">
  <app-shared-messages-group *ngFor="let group of messageGroups; trackBy:trackByGroup"
                             [messages]="group.messages"
                             [user]="group.user$ | async">
  </app-shared-messages-group>
</div>
