<ion-infinite-scroll *ngIf="scrollEnabled"
                     threshold="50%" position="top"
                     (ionInfinite)="infiniteScroll.emit($event)">
  <ion-infinite-scroll-content loading-spinner="crescent"
                               class="current-chat-infinite-loading">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<div class="msgs-container">
  <div *ngFor="let day of messageDays | keyvalue; trackBy:trackByDay"
       class="reverse">
    <app-shared-messages-group *ngFor="let group of day.value; trackBy:trackByGroup"
                               [messages]="group.messages"
                               [user]="group.user$ | async"
                               [self]="group.self">
    </app-shared-messages-group>
    <div class="date">
      <span> {{day.key | date: 'd MMMM'}} </span>
    </div>
  </div>
</div>
