<ion-content>
  <form>
    <div class="logo unselectable">
      <span> roomate </span>
      <span class="shadow"> roomate </span>
    </div>
    <ion-list>
      <ion-item>
        <ion-label position="floating"
                   color="roomate-green"> Login </ion-label>
        <ion-input placeholder="Enter login"
                   type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
                   color="roomate-green"> Password </ion-label>
        <ion-input placeholder="Enter password"
                   type="password">
        </ion-input>
      </ion-item>
      <ion-button color="roomate-green" fill="outline"
                  (click)="login()"> Let me in </ion-button>
    </ion-list>
  </form>
</ion-content>
